---
import { Icon } from "astro-icon/components";
---

<footer class="bg-transparent text-gray-300 py-8 px-4">
  <div
    class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-start gap-8"
  >
    <div class="max-w-xl">
      <p class="text-sm text-gray-200">
        San Andreas Roleplay no está afiliado ni relacionado con Rockstar, ni
        con SA-MP u open.mp, todo el contenido publicado es propiedad de los
        jugadores y no del servidor.
      </p>
      <p class="text-sm mt-4">
        Copyright © 2025 <a href="https://sarp.es" class="text-[#fcaf17]"
          >SARP.es</a
        >. Todos los derechos reservados.
      </p>
    </div>

    <div class="flex items-center gap-6">
      <a
        href="https://www.paypal.com/"
        class="hover:opacity-50 transition-opacity"
      >
        <Icon class="w-9 h-9" name="mdi:paypal" />
      </a>
      <a
        href="https://github.com/San-Andreas-Roleplay-ES"
        class="hover:opacity-50 transition-opacity"
      >
        <Icon class="w-9 h-9" name="mdi:github" />
      </a>
      <a
        href="https://discord.gg/sarp"
        class="hover:opacity-50 transition-opacity"
      >
        <Icon class="w-9 h-9" name="mdi:discord" />
      </a>
    </div>
  </div>
</footer>
