<section class="w-full object-cover items-center justify-center pt-32">
  <div class="flex items-center justify-center">
    <div class="max-w-5xl w-full">
      <h3
        class="text-2xl font-bold bg-gradient-to-r from-[#fcaf17] to-[#b41919] bg-clip-text text-transparent pb-2"
      >
        ¿Qué es San Andreas Roleplay?
      </h3>
      <h2
        class="text-3xl text-white font-bold pb-1 leading-tight anim-on-scroll break-all"
      >
        <strong class="font-extrabold">San Andreas Roleplay</strong> es el único
        servidor en español, que ha conservado la esencia de GTA SA y exprimido la
        calidad interpretativa.
      </h2>
      <p class="text-md mt-2 mb-8 text-white">
        Somos la comunidad de rol basada en texto dentro del universo de GTA San
        Andreas Multiplayer, donde los jugadores pueden desarrollar personajes
        complejos, vivir historias profundas y formar parte de un entorno
        narrativo realista. Desde 2023, ofrecemos un espacio creativo, serio y
        comprometido con el roleplay, diseñado para quienes buscan una
        experiencia inmersiva, colaborativa y auténtica.
      </p>
    </div>
  </div>
</section>
