---
import { Image } from "astro:assets";

import gta_sa from "./public/images/gta_sa.png";
import open_mp from "./public/images/open_mp.png";
import samp from "./public/images/samp.png";
---

<section class="grid grid-cols-5 gap-4 grid-nogutter mx-64">
  <h3 class="col-span-5 font-light text-center text-white pb-6">
    Descarga GTA:SA, instala SA-MP/open.mp y forma parte de la comunidad.
  </h3>
  <a
    class="col-span-5 md:col-span-1 flex items-center justify-center gap-4"
    href="https://store.steampowered.com/agecheck/app/12120/"
    target="_blank"
  >
    <Image
      class="h-24 w-auto hover:scale-110 transition-all duration-300 select-none"
      src={gta_sa}
      alt="Grand Theft Auto: San Andreas"
    />
  </a>
  <div class="col-span-5 md:col-span-1 flex items-center justify-center">
    <span
      class="text-4xl font-bold bg-gradient-to-r from-primary to-[#b41919] bg-clip-text text-transparent pb-2"
      >+</span
    >
  </div>
  <a
    class="col-span-5 md:col-span-1 flex items-center justify-center gap-4"
    href="https://www.sa-mp.mp/downloads/"
    target="_blank"
  >
    <Image
      class="h-24 w-auto hover:scale-110 transition-all duration-300 select-none"
      src={samp}
      alt="San Andreas Multiplayer"
    />
  </a>
  <div class="col-span-5 md:col-span-1 flex items-center justify-center">
    <span
      class="text-4xl font-bold bg-gradient-to-r from-primary to-[#b41919] bg-clip-text text-transparent pb-2"
      >o</span
    >
  </div>
  <a
    class="col-span-5 md:col-span-1 flex items-center justify-center gap-4"
    href="https://open.mp/"
    target="_blank"
  >
    <Image
      class="h-24 w-auto hover:scale-110 transition-all duration-300 select-none"
      src={open_mp}
      alt="Open Multiplayer"
    />
  </a>
</section>
