<section class="w-full object-cover items-center justify-center pt-32">
  <div class="flex items-center justify-center">
    <div class="w-full">
      <h3
        class="text-2xl font-bold bg-gradient-to-r from-primary to-[#b41919] bg-clip-text text-transparent"
      >
        Características
      </h3>
      <h2
        class="text-xl md:text-3xl text-white font-bold pb-1 leading-tight anim-on-scroll"
      >
        <strong class="font-extrabold">Nuevos modelos 3D</strong> que conservan,
        embellecen y expanden el arte original de Grand Theft Auto San Andreas.
      </h2>
      <div class="grid grid-cols-3 gap-16 mt-8">
        <article class="col-span-3 md:col-span-1 flex flex-col gap-4">
          <h4
            class="text-lg font-bold bg-gradient-to-r from-primary to-[#b41919] bg-clip-text text-transparent"
          >
            Plazas públicas
          </h4>
          <div
            class="aspect-square w-full border border-primary rounded-lg overflow-hidden group cursor-pointer"
          >
            <img
              src="/images/features/pershing.jpg"
              alt="Civic Centers"
              class="w-full h-full object-cover select-none transition-transform duration-300 group-hover:scale-110"
            />
          </div>
        </article>
        <article class="col-span-3 md:col-span-1 flex flex-col gap-4">
          <h4
            class="text-lg font-bold bg-gradient-to-r from-primary to-[#b41919] bg-clip-text text-transparent"
          >
            Circuitos de carreras
          </h4>
          <div
            class="aspect-square w-full border border-primary rounded-lg overflow-hidden group cursor-pointer"
          >
            <img
              src="/images/features/races.jpg"
              alt="Racing Routes"
              class="w-full h-full object-cover select-none transition-transform duration-300 group-hover:scale-110"
            />
          </div>
        </article>
        <article class="col-span-3 md:col-span-1 flex flex-col gap-4">
          <h4
            class="text-lg font-bold bg-gradient-to-r from-primary to-[#b41919] bg-clip-text text-transparent"
          >
            Simulador de camiones
          </h4>
          <div
            class="aspect-square w-full border border-primary rounded-lg overflow-hidden group cursor-pointer"
          >
            <img
              src="/images/features/truckers.jpg"
              alt="Trucking Simulator"
              class="w-full h-full object-cover select-none transition-transform duration-300 group-hover:scale-110"
            />
          </div>
        </article>
        <article class="col-span-3 md:col-span-1 flex flex-col gap-4">
          <h4
            class="text-lg font-bold bg-gradient-to-r from-primary to-[#b41919] bg-clip-text text-transparent"
          >
            Joyerías
          </h4>
          <div
            class="aspect-square w-full border border-primary rounded-lg overflow-hidden group cursor-pointer"
          >
            <img
              src="/images/features/jewelry.jpg"
              alt="Jewelry"
              class="w-full h-full object-cover select-none transition-transform duration-300 group-hover:scale-110"
            />
          </div>
        </article>
        <article class="col-span-3 md:col-span-1 flex flex-col gap-4">
          <h4
            class="text-lg font-bold bg-gradient-to-r from-primary to-[#b41919] bg-clip-text text-transparent"
          >
            Mangueras de incendios
          </h4>
          <div
            class="aspect-square w-full border border-primary rounded-lg overflow-hidden group cursor-pointer"
          >
            <img
              src="/images/features/fire.jpg"
              alt="Fire Hoses"
              class="w-full h-full object-cover select-none transition-transform duration-300 group-hover:scale-110"
            />
          </div>
        </article>
        <article class="col-span-3 md:col-span-1 flex flex-col gap-4">
          <h4
            class="text-lg font-bold bg-gradient-to-r from-primary to-[#b41919] bg-clip-text text-transparent"
          >
            Barrios de pandillas
          </h4>
          <div
            class="aspect-square w-full border border-primary rounded-lg overflow-hidden group cursor-pointer"
          >
            <img
              src="/images/features/idlewood.jpg"
              alt="Gangzones"
              class="w-full h-full object-cover select-none transition-transform duration-300 group-hover:scale-110"
            />
          </div>
        </article>
        <article class="col-span-3 flex flex-col gap-4">
          <h3
            class="text-lg font-bold bg-gradient-to-r from-primary to-[#b41919] bg-clip-text text-transparent text-center"
          >
            ¡Descubre muchísimo más dentro del servidor! ¡Sistemas que no se han
            visto nunca en un servidor de SAMP!
          </h3>
        </article>
      </div>
    </div>
  </div>
</section>
