---

---

<section class="w-full object-cover items-center justify-center pt-32">
  <div class="flex items-center justify-center">
    <div class="w-full flex flex-col md:flex-row items-center gap-12">
      <div class="w-full md:w-1/2 flex justify-center">
        <img
          src="/images/players.png"
          alt="Jugadores online"
          class="max-h-screen md:max-h-96 w-auto select-none transition-transform duration-300 hover:scale-110 rounded-lg shadow-lg"
        />
      </div>
      <div class="w-full md:w-1/2">
        <h2
          class="text-2xl md:text-5xl font-bold bg-gradient-to-r from-primary to-[#b41919] bg-clip-text text-transparent pb-2"
        >
          +<span id="counter">100</span> conectados
        </h2>
        <p class="text-md mt-2 mb-8 text-white">
          Imagina ser parte de una comunidad de heavy roleplay, en pleno 2025,
          con récords de más de 250 jugadores online simultáneamente. Las
          oportunidades son infinitas, únete a nosotros y descubre todo lo que
          te ofrecemos.
        </p>
      </div>
    </div>
  </div>
</section>

<script>
  function animateCounter() {
    const counter = document.getElementById("counter");
    if (!counter) return;

    let count = 100;
    const target = 250;
    let interval: ReturnType<typeof setInterval> | undefined;

    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          // Iniciar la animación cuando el elemento es visible
          interval = setInterval(() => {
            count++;
            counter.textContent = count.toString();
            if (count >= target) {
              clearInterval(interval);
            }
          }, 1);
          observer.disconnect();
        }
      });
    });

    observer.observe(counter);
  }

  document.addEventListener("DOMContentLoaded", animateCounter);
</script>
