<section class="w-full object-cover items-center justify-center py-32">
  <div class="flex items-center justify-center">
    <div class="max-w-5xl w-full">
      <h2
        class="text-5xl font-bold bg-gradient-to-r from-primary to-[#b41919] bg-clip-text text-transparent pb-2"
      >
        Mejores vídeos hechos por jugadores
      </h2>
      <article class="flex flex-row gap-x-4 mt-8">
        <iframe
          class="border-0 rounded-sm z-10 aspect-video w-[36rem]"
          src="https://www.youtube.com/embed/lXEH5fmfL3k"
        >
        </iframe>
        <iframe
          class="border-0 rounded-sm z-10 aspect-video w-[36rem]"
          src="https://www.youtube.com/embed/38Ce0f5JCMA"
        >
        </iframe>
      </article>
    </div>
  </div>
</section>
